language: python

python: "3.6"

git:
  depth: 1

# Install dependencies
install:
  - pip install -r requirements.txt
  - pip install python-decouple
    
# script to run tests.
script: 
  - python manage.py test
  - coverage run manage.py test

after_script:
  - bash <(curl -s https://codecov.io/bash)