<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

{% load static %}

{% if latest_question_list %}
<div class="p-3 mb-2 bg-dark text-white">
    <p class="fs-1">KU Polls</p>
</div>
<ul>
    {% for question in latest_question_list %}
    <p class="fs-2">{{ question.question_text }}</p>
    <a class="btn btn-dark" href="{% url 'polls:detail' question.id %}" role="button">vote</a>
    {% if question.can_vote %}
    <a class="btn btn-outline-warning" href="{% url 'polls:results' question.id %}" role="button">results</a>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}